@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  padding: 40px;
  background-color: #121212;  
  text-align: center
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  word-wrap: break-word;
  overflow: auto;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 12px auto;
}

/* Animation */
p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 2000ms steps(29,end) 3;
}

h3 {
  color: rgba(255,255,255,.70);
  font-family: 'Source Code Pro', monospace;  

}
h1{
  color:rgba(10, 95, 0, 0.79);
  font-family: 'Source Code Pro', monospace;font-family: 'Montserrat', sans-serif;
  font-size: 40px;

}
/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}